#blocks tr.region-title td {
  font-weight: bold;
}
#blocks tr.region-message {
  font-weight: normal;
  color: #999;
}
#blocks tr.region-populated {
  display: none;
}
.block-region {
  background-color: #ff6;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 3px;
}
a.block-demo-backlink,
a.block-demo-backlink:link,
a.block-demo-backlink:visited {
  background-color: #b4d7f0;
  border-radius: 0 0 10px 10px;
  color: #000;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: small;
  line-height: 20px;
  left: 20px; /*LTR*/
  padding: 5px 10px;
  position: fixed;
  z-index: 499;
}
a.block-demo-backlink:hover {
  text-decoration: underline;
}

.block-list-region {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.block-list-left {
  float: left; /* LTR */
  padding-right: 2em; /* LTR */
  width: 75%;
}
[dir="rtl"] .block-list-left {
  float: right;
  padding-left: 2em;
  padding-right: 0;
}
.block-list-right {
  border: 1px solid #bfbfbf;
  border-bottom-width: 0;
  float: right; /* LTR */
  width: 25%;
}
[dir="rtl"] .block-list-right {
  float: left;
}

.block-list {
  padding: 0 0.75em;
  margin: 0;
}
.block-list li {
  list-style: none;
  padding: 0.1em 0;
}
.block-list a:before {
  content: '+ ';
}
.block-list-right .form-type-search {
  padding: 0 1em;
}
